<section class="breadcrumb center">
    <div class="breadcrumb__left">
        <p>New arrivals</p>
    </div>
    <div class="breadcrumb__right">
        <a href="index.html" class="path">Home</a> &#47;
        <a href="#" class="path">Men</a> &#47;
        <a href="#" class="path active">New arrivals</a>
    </div>
</section>
