<section class="feature">
    <div class="feature__wrap center">
        <div class="feature__media">
            <div class="feature__icon">
                <img src="../public/images/svg/lorry.svg" alt="">
            </div>
            <h2>Free Delivery</h2>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
        <div class="feature__media">
            <div class="feature__icon">
                <img src="../public/images/svg/sale.svg" alt="">
            </div>
            <h2>Sales & discounts</h2>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
        <div class="feature__media">
            <div class="feature__icon">
                <img src="../public/images/svg/crown.svg" alt="">
            </div>
            <h2>Quality assurance</h2>
            <p>Worldwide delivery on all. Authorit tively morph next-generation innov tion with extensive models.</p>
        </div>
    </div>
</section>
