<div class="pagination">
    <a href="#" class="pagination__prev"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8.995 2L3.995 7L8.995 12L7.995 14L0.994995 7L7.995 0L8.995 2Z" fill="black"/>
        </svg>
        </a>
    <a href="#" class="pagination__link pagination__link-active">1</a><a href="#" class="pagination__link">2</a><a href="#" class="pagination__link">3</a><a href="#" class="pagination__link">4</a><a href="#" class="pagination__link">5</a><a href="#" class="pagination__link">6</a><span>.....</span><a href="#" class="pagination__link">20</a>
    <a href="#" class="pagination__next"><svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.994995 12L5.995 7L0.994995 2L1.995 0L8.995 7L1.995 14L0.994995 12Z" fill="black"/>
        </svg>
        </a>
</div>
