<section class="promo center">
    <div class="promo__img">
        <img class="promo__photo" src="../public/images/mainpage/promo.png" alt="promo">
    </div>
    <div class="promo__text">
        <div class="promo__content">
            <h1 class="promo__h1"><?=$slogan?></h1>
            <h2 class="promo__h2">Of Luxerious <span class="promo__h2__span">Fashion</span></h2>
        </div>
    </div>
</section>
